<section class="section">
<div class="columns is-centered">
  <div class="column is-half is-narrow">

    <p class="title has-text-centered">Sign up</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: "label is-large" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-large" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :password, "Choose a password", class: "label is-large"  %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "input is-large" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm password", class: "label is-large"  %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input is-large" %>
      </div>
      <br>

      <div class="actions has-text-centered">
        <%= f.submit "Sign up", class: "button is-link is-large is-rounded" %>
      </div>
    <% end %>
    <br>

    <div class="has-text-centered">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</section>
