<section class="section">
<div class="columns is-centered">
  <div class="column is-half is-narrow">

    <p class="title has-text-centered">Reset your password</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<!--       <% if devise_error_messages!.length > 0 %>
        <div class="alert notification is-danger">
          <%= devise_error_messages!.length %>
          Sorry! The email you entered doesn't seem to be signed up with an account.
        </div>
      <% end %> -->

      <div class="field">
        <%= f.label :email, "What's your email address?", class: "label is-medium" %>
        <% if devise_error_messages!.length > 0 %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-large is-danger" %>
          <p class="help is-danger">
            Sorry! The email you entered doesn't seem to be signed up with an account.
          </p>
        <% else %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-large" %>
        <% end %>
      </div>

      <div class="actions ">
        <%= f.submit "Send me reset password instructions", class: "button is-link is-medium" %>
      </div>
    <% end %>

    <!-- <br>-->

  </div>
</div>
<section class="section">

