<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="dropdown navigation">

  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <p class="title is-2 tk-house-slants"><i class="fas fa-archive" style="color:Tomato"></i> artifact</p>
    <% end %>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">

      <div class="navbar-item">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </div>

      <div class="navbar-item">
        <% if user_signed_in? %>
          <%= link_to 'My Profile', edit_user_registration_path %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </div>

    </div>
  </div>
</nav>

<!--     <div class="navbar-dropdown">
      <a class="navbar-item">
        Overview
      </a>
      <a class="navbar-item is-active">
        Elements
      </a>
      <a class="navbar-item">
        Components
      </a>
      <hr class="navbar-divider">
      <div class="navbar-item">
        Version 0.6.1
      </div>
    </div> -->
