<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>Artifact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'fontawesome-all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'linkify', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/menu' %>

    <% if notice or alert %>
    <div class="notification-bar">
      <% if notice %>
      <div class="notice notification is-thinner is-success">
        <!-- <button class="delete"></button> -->
        <%= notice %>
      </div>
      <% elsif alert %>
      <div class="alert notification is-danger">
        <!-- <button class="delete"></button> -->
        <%= alert %>
      </div>
      <% end %>
    </div>
    <% end %>

    <div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>

  </body>
</html>
