<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>Artifact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/menu' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

  </body>
</html>
